@model IEnumerable<RestaurantEntity.Employee>
@{
    Layout = "~/Views/Shared/_LayoutHeadChef.cshtml";
}
<div>
    <a asp-controller="HeadChef" asp-action="Index">Home</a>
    <hr />
</div>
<h1>Index of HeadChef</h1>
@foreach(var item in Model)
{   
    string a =Convert.ToString(TempData["speciality"]);
    TempData.Keep();
    if (item.EmpSpeciality == a)
    {
        <table>
            <thead><tr>
                <th>Employee Id</th>
                <th>Employee Name</th>
                <th>Employee Speciality</th>
                <th>Assign</th>
        </tr>
         
        </thead>
        <tbody>
            <tr> 
                <td>@item.EmpId</td>
                <td>@item.EmpName</td>
                <td>@item.EmpSpeciality</td>

                    <td>
                        <a asp-controller="Chef" asp-action="Index"
                   asp-route-EmpId="@item.EmpId">Assign to Chef</a>
                    </td>

            </tr>
          
        
           
        </tbody>

    </table>}
}

@*<form method="post" enctype="multipart/form-data">
    <h2>Assign To Chef </h2>
    <div class="form-group">
        @*  form group for automatic audjustment for various screen sizes*
        <label>Food Name</label>
        <input type="number" asp-for="FoodId" min="0" max="10" class="form-control"  />
    </div>
    <div class="form-group">
        <label>Quantity</label>
        <input type="number" asp-for="Quantity" class="form-control"  required />
    </div>

    <div class="form-group">
        <label>Ordered Time</label>
        <input type="datetime-local" asp-for="OrderDate" class="form-control" required />
    </div>

    <input type="submit" value="Confirm" class="btn btn-outline-success" /> 
    <input type="button" value="Cancel" class="btn btn-outline-secondary" />
    <hr />

    @if (ViewBag.status == "Ok")
    {
        <div class="alert alert-success">
            @ViewBag.message
        </div>
    }
    else if (ViewBag.status == "Error")
    {
        <div class="alert alert-danger">
            @ViewBag.message
        </div>
    }
</form>*@
